.text-right{
  text-align: right;
}

.row-reaction{
  background-color: #fff6f5;
}

.row-memory{
  background-color: #fffbf2;
}

.row-verbal{
  background-color: #f2fbfa;
}

.row-visual{
  background-color: #f3f3fd;
}

.row-score{
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.score-title{
  font-weight: 500;
}

.score-title-reaction{
  color: #c16665;
}

.score-title-memory{
  color: #ffc14d;
}

.score-title-verbal{
  color: #45ac91;
}

.score-title-visual{
  color: #272c70;
}

.score-value{
  color: #272a39;
}

.score-total{
  color: #9f9fa1;
}

.score-result{
  font-weight: 600;
}
