.shadow-card{
  box-shadow: 4px 6px 5px 0px rgba(224,224,224,0.51);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(224,224,224,0.51);
  -moz-box-shadow: 4px 6px 5px 0px rgba(224,224,224,0.51);
}

.card-container{
  max-height: 350px;
  border-radius: 2.5rem;
}

.column{
  max-height: 100%;
}

@media screen and (max-width: 468px){
  .column{
    width: 100%;
  }
}

@media screen and (min-width: 469px){
  .card-content{
    display: flex;
    flex-direction: row;
  }

  .card-container{
    width: 50%;
  }
  .column{
    width: 50%;
  }
}

